.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button--submit {
  border-bottom-right-radius: 0;
  background-color: #282c34;
}

.button--submit:active {
  border-bottom-right-radius: 0;
}

.button--submit:hover {
  border-bottom-right-radius: 0;
}

.formSearchBox {
  border: 0;
  background-color: #282c34;
}

.formSearchBox:focus {
  box-shadow: none;
  z-index: 0 !important;
  background-color: #212529;
}

.formSearchBox:hover {
  border: 0;
  background-color: #212529;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container-Container {
  display: contents;
}


.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #282c34;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px #198754;
  padding: 0.25rem;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0.375rem 0.375rem;
  border: none;
  padding: 0.5rem 0;
  color: #fff;
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #198754;
  font-weight: 600;
}