.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container-Container {
  display: contents;
}

.Container {
  margin: 100px 0 0 0;
  width: 70%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  transition: all ease-in-out 0.5s;
}

.Container img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 10px;
  border: 2px solid rgba(255, 255, 255, 0.684);
  transition: all ease-in-out 0.5s;
}

.Container img:hover {
  width: 25%
}

